In [18]:
from IPython.display import Markdown, display

def printmd(string):
    display(Markdown(string))

printmd("# <center> Lab 1 <center>")

# <center> Lab 1 <center>

In [4]:
import tensorflow as tf
import tensorflow_datasets as tfds

# # loading mnist into sperate train and test sets
# (ds_train, ds_test), ds_info = tfds.load(
#     'mnist',
#     split=['train', 'test'],
#     shuffle_files=True,
#     as_supervised=True,
#     with_info=True,
# )


# loading mnist without a separate train/test split
ds, ds_info = tfds.load(
    'mnist',
    shuffle_files=True,
    as_supervised=True,
    with_info=True,
    split= ['all']
)

In [19]:
import pandas as pd
# stored mnist as a pandas dataframe for easier manipulation
df = tfds.as_dataframe(ds=ds[0], ds_info=ds_info)

In [11]:
# shows the dataframe has 70000 records each containing 2 fields
df.shape

(70000, 2)

In [10]:
# shows the first 5 records of the dataframe. the two stored fields are the
# image itself (stored as a 2d matrix) and the label (class)
df.head()

                                               image  label
0  [[[0], [0], [0], [0], [0], [0], [0], [0], [0],...      2
1  [[[0], [0], [0], [0], [0], [0], [0], [0], [0],...      0
2  [[[0], [0], [0], [0], [0], [0], [0], [0], [0],...      4
3  [[[0], [0], [0], [0], [0], [0], [0], [0], [0],...      8
4  [[[0], [0], [0], [0], [0], [0], [0], [0], [0],...      7

In [14]:
# the labels (classes) are the digits 0 to 9
sorted(df['label'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
import numpy as np

# show that the image is represented with integers from 0-255
np.unique(df['image'][0])

array([  0,   4,   6,   7,  14,  16,  21,  24,  25,  27,  32,  36,  38,
        39,  42,  43,  45,  53,  54,  55,  56,  61,  62,  63,  74,  77,
        82,  84,  85,  89,  96, 100, 103, 109, 121, 123, 124, 126, 128,
       129, 131, 134, 135, 142, 145, 147, 148, 150, 151, 154, 155, 156,
       161, 163, 168, 174, 182, 183, 185, 186, 188, 189, 190, 191, 194,
       197, 199, 200, 201, 210, 212, 214, 215, 218, 221, 222, 226, 227,
       231, 232, 233, 236, 237, 239, 241, 245, 246, 247, 251, 252, 253,
       255], dtype=uint8)

In [8]:
# this shows that there is an even spread of records of each class
df.describe()

              label
count  70000.000000
mean       4.452429
std        2.890195
min        0.000000
25%        2.000000
50%        4.000000
75%        7.000000
max        9.000000

In [1]:
# import sys
# import pickle

# f = open('mnist.pkl.gz', 'rb')
# if sys.version_info < (3,):
#     data = pickle.load(f)
# else:
#     data = pickle.load(f, encoding='bytes')
# f.close()
# (x_train, _), (x_test, _) = data